$font-family: 'Open Sans', sans-serif;
$font-family-1:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$cyan:rgb(83, 201, 187);
$red:rgb(255, 91, 91);
$white:white;
$navy:rgb(8, 43, 73)

